这里忽略了稠密特征，如果有数值型特征，则需要参考DeepCTR文档

In [24]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from deepctr.models import DeepFM
from deepctr.inputs import SparseFeat, get_feature_names

In [25]:
#数据加载
data = pd.read_csv('../../datasets/L7/deepfm/movielens_sample.txt')

In [26]:
data.columns

Index(['user_id', 'movie_id', 'rating', 'timestamp', 'title', 'genres',
       'gender', 'age', 'occupation', 'zip'],
      dtype='object')

In [27]:
#离散特征：稀疏特征
sparse_features = ["movie_id", "user_id", "gender", "age", "occupation", "zip"]
#数值特征：稠密特征
#dense_features = []
target = ['rating']

In [28]:
#对特征标签编码
for feature in sparse_features:
    lbe = LabelEncoder()
    data[feature] = lbe.fit_transform(data[feature])

#mms = MinMaxScaler(feature_range=(0, 1)) 稠密特征要进行min_max操作

In [13]:
data

     user_id  movie_id  rating  timestamp  ... gender age  occupation  zip
0        107        12       4  968035345  ...      0   2           4   35
1        123       169       3  966536874  ...      1   1           4  118
2         12         6       4  976203603  ...      0   2          13   99
3         21       112       3  975430389  ...      1   1          18   55
4        187        45       5  957782527  ...      1   5          19   41
..       ...       ...     ...        ...  ...    ...  ..         ...  ...
195       46       176       3  974840560  ...      1   2          11   48
196      131        89       3  965855033  ...      1   1          11  113
197        4       125       3  976730191  ...      0   1          13   83
198      181        15       4  958503395  ...      1   2           0  106
199       25        86       3  975270899  ...      1   2           0  136

[200 rows x 10 columns]

In [30]:
#计算每个特征中的不同特征值个数
fixlen_feature_columns = [SparseFeat(feature, data[feature].nunique()) for feature in sparse_features]

linear_feature_columns = fixlen_feature_columns

dnn_feature_columns = fixlen_feature_columns

#generate feature columns
feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

feature_names

['movie_id', 'user_id', 'gender', 'age', 'occupation', 'zip']

In [31]:
# 将数据集切分成训练集和测试集
train, test = train_test_split(data, test_size=0.2)
train_model_input = {name:train[name].values for name in feature_names}
test_model_input = {name:test[name].values for name in feature_names}

In [32]:
# 使用DeepFM进行训练
model = DeepFM(linear_feature_columns, dnn_feature_columns, task='regression')
model.compile("adam", "mse", metrics=['mse'], )
history = model.fit(train_model_input, train[target].values, batch_size=256, epochs=1, verbose=True, validation_split=0.2, )
# 使用DeepFM进行预测
pred_ans = model.predict(test_model_input, batch_size=256)
# 输出RMSE或MSE
mse = round(mean_squared_error(test[target].values, pred_ans), 4)
rmse = mse ** 0.5
print("test RMSE", rmse)

Train on 128 samples, validate on 32 samples

/Users/zhaolei/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/framework/indexed_slices.py:424: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "
/Users/zhaolei/opt/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/framework/indexed_slices.py:424: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

128/128 [==============================] - 2s 18ms/sample - loss: 14.2740 - mse: 14.2740 - val_loss: 14.7340 - val_mse: 14.7340
test RMSE 3.6119523806384826