In [2]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [3]:
np.__version__

'1.17.2'

In [5]:
from deepctr.models import DeepFM
from deepctr.inputs import SparseFeat, get_feature_names

In [7]:
data = pd.read_csv('../../datasets/L6/ratings.csv')

In [8]:
sparse_features = ['userId', 'movieId', 'timestamp']
target = ['rating']

In [9]:
data

         userId  movieId  rating   timestamp
0             1        2     3.5  1112486027
1             1       29     3.5  1112484676
2             1       32     3.5  1112484819
3             1       47     3.5  1112484727
4             1       50     3.5  1112484580
...         ...      ...     ...         ...
1048570    7120      168     5.0  1175543061
1048571    7120      253     4.0  1175542225
1048572    7120      260     5.0  1175542035
1048573    7120      261     4.0  1175543376
1048574    7120      266     3.5  1175542454

[1048575 rows x 4 columns]

In [14]:
#对特征标签进行编码
for feature in sparse_features:
    lbe = LabelEncoder()
    data[feature] = lbe.fit_transform(data[feature])

In [17]:
data['userId']

0             0
1             0
2             0
3             0
4             0
           ...
1048570    7119
1048571    7119
1048572    7119
1048573    7119
1048574    7119
Name: userId, Length: 1048575, dtype: int64

In [27]:
# 计算每个特征中的 不同特征值的个数
[SparseFeat(feature, data[feature].nunique()) for feature in sparse_features]

[SparseFeat(name='userId', vocabulary_size=7120, embedding_dim=4, use_hash=False, dtype='int32', embedding_name='userId', group_name='default_group'),
 SparseFeat(name='movieId', vocabulary_size=14026, embedding_dim=4, use_hash=False, dtype='int32', embedding_name='movieId', group_name='default_group'),
 SparseFeat(name='timestamp', vocabulary_size=822889, embedding_dim=4, use_hash=False, dtype='int32', embedding_name='timestamp', group_name='default_group')]